:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgb(255 255 255 / 87%);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.ant-card {
    height: calc(100vh - 100px);
}

.ant-menu-inline,
.ant-menu-vertical {
    border-inline-end: 0 !important;
}

.ant-image .ant-image-mask {
    border-radius: 100%;
}
