:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.ant-card {
    min-height: calc(100vh - 140px);
}

.ant-menu-inline,
.ant-menu-vertical {
    border-inline-end: 0 !important;
}

/* 暗色模式下侧边栏样式 */
[data-theme="dark"] .ant-layout-sider {
    background-color: #141414 !important;
}

[data-theme="dark"] .ant-menu-dark {
    background-color: #141414 !important;
}

[data-theme="dark"] .ant-menu-dark .ant-menu-item {
    background-color: transparent !important;
}

[data-theme="dark"] .ant-menu-dark .ant-menu-item:hover {
    background-color: #177ddc !important;
}

[data-theme="dark"] .ant-menu-dark .ant-menu-item-selected {
    background-color: #1890ff !important;
}

/* 暗色模式下 footer 样式 */
[data-theme="dark"] .ant-layout-footer {
    background-color: #141414 !important;
    color: rgb(255 255 255 / 45%) !important;
    border-top: 1px solid #303030 !important;
}

.ant-image .ant-image-mask {
    border-radius: 100%;
}

.btn-p0 {
    padding: 0;
}

.mt-16 {
    margin-top: 16px;
}

/* 覆盖 LoginFormPage logo 图片样式 */
.ant-pro-form-login-page-logo img {
    /* 例如，设置宽高、圆角等 */
    width: 54px;
    height: 54px;
    border-radius: 100%;
    object-fit: cover;
}

.ant-pro-form-login-page-title {
    font-size: 30px;
}

.ant-card-body {
    padding: 16px !important;
}

.ant-menu-title-content {
    margin-inline-start: 4px !important;
}
